# Dependencies
node_modules/
frontend/node_modules/

# Production build
dist/
frontend/dist/
dist-ssr/
frontend/dist-ssr/
.vercel/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables & local configurations
.env
.env.local
.env.*.local
*.local.json

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
